.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.nav a:first-child {
    margin-right:auto;
    margin-left: 15%;
}
.nav-link{
    color:white;
    font-family: 'Space Mono', monospace;
   
}
.nav-link:hover{
    color:grey;
}
